* {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    text-align: left;
}

body {
    background: var(--bgColor);
    color: var(--textColor);
}

ul{
    padding: 0px;
}
ul li {
    display: inline;
}




body {
    --textColor: #222222;
    --bgColor: #CCFF99;
    --accentA: #888888;
    --accentB: #999999;
}
body.darkMode {
    --textColor: #33CC00;
    --bgColor: #111111;
    --accentA: #999999;
    --accentB: #888888;
}
  
@media (prefers-color-scheme: dark) {
    body {
      --textColor: #33CC00;
      --bgColor: #111111;
      --accentA: #999999;
      --accentB: #888888;
    }
    body.lightMode {
      --textColor: #222222;
      --bgColor: #CCFF99;
      --accentA: #888888;
      --accentB: #999999;
    }
}