* {
    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
    text-align: left;
}
body {
    background: var(--bgColor);
    color: var(--textColor);
    padding: 10px;
}
header, nav, main, p, h1, h2, h3, h4, ul, pre, .asciiArt {
    padding: 0px;
    margin: 0px;
}
nav, main {
    line-height: 1.3;
}
h1, h2, h3, h4 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    line-height: 1.3;
    list-style: none;
}
a {
    font-weight: bold;
}
a:link, a:visited {
    color: var(--linkA);
    text-decoration: none;
}
a:hover, a:active {
    color: var(--linkB);
    text-decoration: underline;
}
pre, .inlineLI, .decorative {
    display: inline;
}
.asciiArt {
    line-height: 1;
}
.textBlock {
    padding-left: 1em;
}
.accessiblePortfolio {
    float: right;
}
button {
    text-transform: lowercase;
}

/* responsive */
@media (max-width: 750px) {
    body {
        font-size: 80%;
    }
}

/* dark/light mode config */
body {
    --textColor: #FFFFFF;
    --bgColor: #3366FF;
    --linkA: #FFCCFF;
    --linkB: #FF99FF;
}
body.darkMode {
    --textColor: #33CC00;
    --bgColor: #111111;
    --linkA: #77FF44;
    --linkB: #BBFF88;
}
@media (prefers-color-scheme: dark) {
    body {
        --textColor: #33CC00;
        --bgColor: #111111;
        --linkA: #77FF44;
        --linkB: #BBFF88;
    }
    body.lightMode {
        --textColor: #FFFFFF;
        --bgColor: #3366FF;
        --linkA: #FFCCFF;
        --linkB: #FF99FF;
    }
}