* {
    font-family: Times, 'Times New Roman', serif;
    text-align: left;
}

body {
    background: var(--bgColor);
    color: var(--textColor);
}

a:link {
    color: var(--accentA);
}
a:hover {
    color: var(--accentA);
}
a:visited {
    color: var(--accentB);
}
a:active {
    color: var(--accentB);
}

ul li {
    display: inline;
}

main {
    border-top: 1px solid var(--accentA);
    border-bottom: 1px solid var(--accentA);
}

nav {
    float: center;
}



body {
    --textColor: #222222;
    --bgColor: #FFFFFF;
    --accentA: #FF6600;
    --accentB: #FF9900;
}
body.darkMode {
    --textColor: #EEEEEE;
    --bgColor: #121212;
    --accentA: #FF9900;
    --accentB: #FF6600;
}
  
@media (prefers-color-scheme: dark) {
    body {
      --textColor: #EEEEEE;
      --bgColor: #121212;
      --accentA: #FF9900;
      --accentB: #FF6600;
    }
    body.lightMode {
      --textColor: #222222;
      --bgColor: #FFFFFF;
      --accentA: #FF6600;
      --accentB: #FF9900;
    }
}