* {
    line-height: 1.5;
    font-family: 'UncutSans', Verdana, Arial, sans-serif;
}
html, body { 
    height: 100%;
    width: 100%;
}
body, header, nav, dd, pre, #navList, .noBulletLI, .inlineUL, .inlineIL {
    margin: 0px;
    padding: 0px;
}
body {
    background: var(--bgBackup);
    color: var(--textColor);
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 5px 15px var(--shadow);
    background: #0000001A;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-left: 5px;
    font-weight: var(--bold-weight);
}
nav {
    display: inline-block;
}
main {
    margin: 0px 80px 0px 80px;
    clear: both;
    padding-top: 0px;
    padding-bottom: 0px;
}
footer {
    text-align: center;
    padding: 20px;
}
p {
    padding: 0px;
    margin: 5px 0px 10px 0px;
}
h1 {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    font-weight: 100;
}
h2 {
    font-family: "terminal_grotesque", Verdana, Arial, sans-serif;
    font-size: 9vw;
    display: inline;
    color: var(--titleColor);
    font-weight: normal;
}
h3, h4 {
    margin-bottom: 4px;
    font-weight: var(--bold-weight);
    color: var(--titleColor);
}
h4 {
    margin-top: 0px;
}
a {
    text-decoration: none;
    color: var(--titleColor);
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}
hr {
    border-color: var(--titleColor);
}
abbr {
    text-decoration: none;
}
address {
    font-style: normal;
    display: inline;
}
button {
    background: #0000001A;
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: none;
    padding: 5px;
    color: var(--textColor);
    box-shadow: 0px 5px 10px 2px var(--shadow);
}
button:hover{
    background: rgba(0,0,0,.2);
}
#navList {
    display: inline-block;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
}
.navItem, .navItem a {
    display: inline-block;
}
.navItem {
    margin: 0px;
    padding: 10px;
}
#randomHeader {
    font-family: "terminal_grotesque", Verdana, Arial, sans-serif;
    font-size: 9vw;
    font-weight: normal;
    color: var(--titleColor);
}
#randomizer {
    font-size: 3vw;
    padding: 0vw 1vw 0vw 1vw;
    -webkit-transform: translateY(-1.5vw);
	transform: translateY(-1.5vw);
    font-weight: bold;
    color: var(--titleColor);
}
#flexParentResume {
    display: flex;
    flex-direction: row;
}
#leftBox, #rightBox {
    margin: 20px;
    padding: 0px;
}
#leftBox {
    flex: 1;
    margin-left: 0;
}
#rightBox {
    flex: 2;
    margin-right: 0;
}
.topHeader {
    padding-top: 0px;
    margin-top: 0px;
}
.date {
    float: right;
}
.bulletUL {
    padding: 0px;
    margin: 0px 0px 20px 20px;
    list-style-type: disc;
}
.bulletLI, .noBulletLI {
    padding: 3px 0px;
}
.inlineUL {
    list-style-type: none;
}
.inlineLI {
    display: inline;
    padding: 0px 6px 0px 6px;
}
.icon {
    font-family: "Icons";
    display: inline;
    color: var(--titleColor);
}
/*blurred bg image*/
#bgImage { 
    position: fixed;
    background-image: var(--bgImageURL);
    background-size: cover; 
    background-position: center; 
    filter: blur(15px); 
    height: 100%; 
    width: 100%; 
    z-index: -1; 
}
#blur {
    position: fixed;
    background-color: var(--bgColor);
    height: 100vh; 
    width: 100%; 
    z-index: 0;
}
#content {
    height: 100%;
    width: 100%;
    overflow: auto;
}
/* responsive */
@media (max-width: 910px) {
    header {
        flex-direction: column;
    }
    #navList {
        padding: 0px;
    }
    main {
        padding-top: 0px;
        margin: 0vw 10vw 0vw 10vw;
    }
    .flexParentResume {
        flex-direction: column;
    }
    #leftBox {
        display: none;
        margin-right: 0;
    }
    #rightBox {
        margin-left: 0;
    }
    .date {
        float: none;
        display: block;
    }
}
@media (min-width: 910px) {
    #skillsBottom {
        display: none;
    }
}
/* Local fonts */
@font-face {
    font-family: 'terminal_grotesque';
    src: url('fonts/terminal-grotesque-webfont.eot');
    src: url('fonts/terminal-grotesque-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/terminal-grotesque-webfont.woff2') format('woff2'),
         url('fonts/terminal-grotesque-webfont.woff') format('woff'),
         url('fonts/terminal-grotesque-webfont.ttf') format('truetype'),
         url('fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UncutSans';
    src: url('fonts/UncutSans-Variable.ttf') format('truetype'),
         url('fonts/UncutSans-Regular.otf') format('opentype'),
         url('fonts/UncutSans-Regular.woff2') format('woff2'),
         url('fonts/UncutSans-Regular.woff') format('woff');
    font-weight: 100 1000;
    font-style: normal;
}
@font-face {
    font-family: 'Icons';
    src: url('fonts/icomoon.eot');
    src: url('fonts/icomoon.woff') format('woff'),
         url('fonts/icomoon.ttf') format('truetype'),
         url('fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Light / Dark Mode Variables */
body {
    --titleColor: #3300ff;
    --textColor: #110033;
    --bgColor: #ffffff80;
    --boxColor: #EEEDEC;
    --shadow: #50505080;
    --hover: #FF8833;
    --subheader: #EE5500;
    --imgOpacity: 1;
    --bgBackup: #8e996b;
    --bgImageURL: url("../images/inverness.jpg");
    font-weight: 450;
    --bold-weight: 600;
}
body.darkMode {
    --titleColor: #ffee00;
    --textColor: #ffffdd;
    --bgColor: #222120AA;
    --boxColor: #333231;
    --shadow: #11100F90;
    --subheader: #FF8833;
    --hover: #FFCC00;
    --imgOpacity: 0.8;
    --bgBackup: #403934;
    --bgImageURL: url("../images/stgiles.jpg");
    font-weight: 100;
    --bold-weight: 500;
}
@media (prefers-color-scheme: dark) {
    body {
        --titleColor: #ffee00;
        --textColor: #ffffdd;
        --bgColor: #222120AA;
        --boxColor: #333231;
        --shadow: #11100F90;
        --subheader: #FF8833;
        --hover: #FFCC00;
        --imgOpacity: 0.8;
        --bgBackup: #403934;
        --bgImageURL: url("../images/stgiles.jpg");
        font-weight: 100;
        --bold-weight: 500;
    }
    body.lightMode {
        --titleColor: #3300ff;
        --textColor: #110033;
        --bgColor: #ffffff80;
        --boxColor: #EEEDEC;
        --shadow: #50505080;
        --hover: #FF8833;
        --subheader: #EE5500;
        --imgOpacity: 1;
        --bgBackup: #8e996b;
        --bgImageURL: url("../images/inverness.jpg");
        font-weight: 450;
        --bold-weight: 600;
    }
}