* {
    font-family: Times, 'Times New Roman', serif;
    text-align: center;
}

body {
    background-color: var(--bgColor);
    background-repeat: repeat;
    background-size: 20%;
    background-attachment: fixed;
    color: var(--textColor);
}

a:link, a:visited {
    color: var(--accentA);
}
a:hover, a:active {
    color: var(--accentB);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li {
    display: inline;
}

main {
    border-top: 1px solid var(--accentA);
    border-bottom: 1px solid var(--accentA);
    margin: 10px;
}

nav {
    float: center;
    list-style-type: none;
}

.linkBadge {
    text-decoration: none;
}

p {
    margin-left: 40px;
    margin-right: 40px;
}

abbr {
    text-decoration: none;
}




body {
    --textColor: #222222;
    --bgColor: #FFFFFF;
    --accentA: #EE4400;
    --accentB: #FF6600;
    background-image: url("../images/clouds.jpg");
}
body.darkMode {
    --textColor: #EEEEEE;
    --bgColor: #121212;
    --accentA: #FF9900;
    --accentB: #FF6600;
    background-image: url("../images/starry.gif");
}
  
@media (prefers-color-scheme: dark) {
    body {
        --textColor: #EEEEEE;
        --bgColor: #121212;
        --accentA: #FF9900;
        --accentB: #FF6600;
        background-image: url("../images/starry.gif");
    }
    body.lightMode {
        --textColor: #222222;
        --bgColor: #FFFFFF;
        --accentA: #EE4400;
        --accentB: #FF6600;
        background-image: url("../images/clouds.jpg");
    }
}